/* RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, 
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, 
mark, audio, video {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
	font-size: 100%;
	font: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	-webkit-text-size-adjust: none;
}

ol, ul {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

li {
	padding: 0;
	margin: 0;
}

/* BASIC */

html,
body {
	height: 100%;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

/* ::-webkit-scrollbar-thumb {
	background: #CD3333;
} */

body {
	font-family: "Open Sans";
}

a {
	transition: 0.2s ease-out;
}

/* NAVIGATION */

#nav-logo {
	position: absolute;
	top: 0.5em;
	right: 4.5em;
	z-index: 100;
}

nav {
	text-align: center;
	width:100%;
	position: fixed;
	height: 3.8em;
	top: 0;
	overflow:hidden;
	background-color: #fff;
	border-bottom: 4px #cd3333 solid;
	z-index: 8;
}

	nav.alt {
		background-color: #cd3333;
		border-bottom: 4px #fff solid;
	}

	nav.kick-green {
		border-bottom: 4px #2bde73 solid;
	}

	nav ul {
		display: fixed;
		text-align: center;
		z-index: 10;
	}

	nav ul li {
		display: inline-block;
		padding-top: 0;
		font-family: 'Inconsolata';
		font-weight: 700;
		text-transform: uppercase;
	}

		nav ul li a {
			display: inline-block;
			padding: 1em 3em;
			transition-property: all .2s ease-out;
			-moz-transition: all .2s ease-out;
			-webkit-transition: all .2s ease-out;
			-o-transition: all .2s ease-out;
			font-size: 1em;
			color: #202020;
			text-decoration: none;
			border-top: 4px #ffffff solid;
		}

			nav.alt ul li a {
				border-top: 4px #cd3333 solid;
			}

			nav ul li a:hover {
				color: #202020;
				text-decoration: none;
				border-top: 4px #cd3333 solid;
			}

				nav.alt ul li a:hover {
					border-top: 4px #fff solid;
				}

					nav.kick-green ul li a:hover {
						border-top: 4px #2bde73 solid;
					}

.nav-button {
	display: inline;
	position: fixed;
	top: 0.65em;
	right: 1em;
	font-size: 1.5em;
	z-index: 999;
}

	.nav-button a {
		text-decoration: none;
	}

.btn-open:after {
	color: #333;
	content: "\f0c9";
	font-family: "FontAwesome";
	transition-property: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
}

	.btn-open:hover:after {
		color: #cd3333;
	}

		.btn-open.alt:hover:after {
				color: #fff;
			}

			.btn-open.kick-green:hover:after {
				color: #2bde73;
			}

.btn-close:after {
	color: #fff;
	content: "\f00d";
	font-family: "FontAwesome";
	transition-property: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
}
	.btn-close:hover:after {
		color: #cd3333;
	}

/*overlay*/
.overlay {
	display: none;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background: #404040;
	overflow: auto;
	z-index: 9;
}

.wrap {
	color: #fff;
	text-align: center;
	max-width: 90%;
	margin: 0 auto;
}

	.wrap ul.wrap-nav {
		border-bottom: 1px solid #575757;
		text-transform:capitalize;
		padding: 10em 0px 2em;
	}

	.wrap ul.wrap-nav li {
		display:inline-block;
		position:relative;
		width:24%;
		vertical-align:top;
		font-family: 'Inconsolata';
		font-size: 1.2em;
		text-transform: uppercase;
	}

		.wrap ul.wrap-nav li a {
			display: block;
			padding: 0.5em 0;
			color: #cd3333;
			text-decoration:none;
			transition-property:all .2s ease-out;
			-moz-transition:all .2s ease-out;
			-webkit-transition:all .2s ease-out;
			-o-transition:all .2s ease-out;
			border-top: 4px #404040 solid;
		}

			.wrap ul.wrap-nav li a:hover {
				border-top: 4px #cd3333 solid;
			}

		.wrap ul.wrap-nav ul {
			padding: 1.5em 0;
		}

			.wrap ul.wrap-nav ul li {
				display: block;
				font-size: 0.75em;
				width: 100%;
				color: #ffffff;
				border-top: 0px;
			}

				.wrap ul.wrap-nav ul li a {
					color: #ffffff;
					border-top: 0px;
				}

					.wrap ul.wrap-nav ul li a:hover {
						color: #cd3333;
						border-top: 0px;
					}

.social {
	font-size: 1.5em;
	padding: 2.5em;
}

.social a:hover {
	text-decoration: none;
}

	.social p {
		margin: 0;
		padding: 1em 0 0.5em 0;
		font-family: 'Inconsolata';
		text-transform: uppercase;
		line-height: 3em;
		font-size: 0.6em;
	}

		.social p a {
			color: #ffffff;
			text-decoration: none;
			margin: 0;
			padding: 0;
		}

			.social p a:hover {
				color: #cd3333;
			}

.social-icon {
	width: 4em;
	height: 2.1em;
	background: #ffffff;
	color: #404040;
	display:inline-block;
	margin: 0 1em;
	transition-property:all .2s ease-out;
	-moz-transition:all .2s ease-out;
	-webkit-transition:all .2s ease-out;
	-o-transition:all .2s ease-out;
}

	.social-icon:hover {
		background: #cd3333;
		color: #ffffff;
	}

	.social-icon i {
		margin-top: 0.5em;
	}

@media screen and (max-width:48em) {
	
	.overlay {
		height: 100vh;
	}
	
	.wrap ul.wrap-nav {
		margin-bottom: 2em;
		border-bottom: 0px solid #575757;
	}
	
	.wrap ul.wrap-nav>li {
		width: 100%;
		padding: 1em 0;
	}
	
	.wrap ul.wrap-nav {
		padding: 2em 0 0;
	}
	
	nav ul {
		opacity: 0;
		visibility: hidden;
	}
	
	.map-nav ul li a {
		width: 16em;
	}
	
	.social {
		color: #ffffff;
		font-size: 1.5em;
		padding: 1em 0;
	}
	
	.social p {
		margin-top: 5em;
	}
	
	.social-icon {
		width: 100%;
		height: 2em;
		background: #fff;
		color: #404040;
		display:block;
		margin: 0.2em 0;
	}
	
}

.navbar {
	top: 0;
	left: 0;
	height: 14em;
	width: 100%;
	margin: 0 auto;
	font-family: "Oswald";
	font-size: 1.5em;
	text-transform: uppercase;
	z-index:20;
}

	.navbar ul {
		height: 100%;
		vertical-align: middle;
	}

		.navbar ul.navbar-nav {
			height: 2em;
		}

			ul.navbar-nav li.dropdown {
				line-height: 2em;
			}

			ul.navbar-nav .dropdown-toggle:after {
				display:none;
			}

			ul.navbar-nav li.dropdown:hover ul.dropdown-menu {
				display: block;
				margin: 0;
			}

			ul.dropdown-menu {
				background: transparent;
				border: none;
				margin: 0;
				padding: 0;
			}

				ul.dropdown-menu a.nav-link {
					width: 100%;
					margin: 0 0.65em;
					padding: 0;
					font-size: 1.5em;
					text-align: left;
				}

		.navbar ul.navbar-right {
			position: relative;
			left: -10%;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}

			.navbar ul.navbar-right li.dropdown:hover {
				border-top-left-radius: 5px;
				border-bottom-left-radius: 0px;
			}
			.navbar ul.navbar-right li.dropdown ul.dropdown-menu {
				height: 2.7em;
				border-top-left-radius: 0px;
				border-top-right-radius: 0px;
			}
			.navbar ul.navbar-right li.dropdown ul.light {
			}

			.navbar ul.navbar-right li.dropdown ul.light > li {
				margin: 0;
				padding: 0;
			}

		.navbar ul.navbar-left {
			position: relative;
			right: -9%;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}

@media (max-width: 768px) {
	.navbar ul.navbar-left {
		position: relative;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	
	.navbar ul.navbar-right {
		position: relative;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
}

			.navbar ul.navbar-left li.dropdown:hover {
				border-top-left-radius: 5px;
				border-bottom-left-radius: 0px;
			}

			.navbar ul.navbar-left li.dropdown ul.dropdown-menu {
				height: 7.5em;
				border-top-left-radius: 0px;
				border-top-right-radius: 0px;
			}
			.navbar ul.navbar-left li.dropdown ul.light {
			}

			.navbar ul.navbar-left li.dropdown ul.light > li {
				margin: 0;
				padding: 0;
			}

		ul.white-bg {
			position: relative;
			height: 7.5em;
			padding-top: -100px;
		}

			ul.white-bg img {
				margin-top: -45px;
				margin-left: -32px;
			}

		.navbar ul li {
			display: inline;
			padding: 0 1em;
			color: #e0e0e0;
			height: 100%;
		}

@media (max-width: 768px) {
	
	.navbar ul li {
		display: block;
	}

}

			.navbar ul li a {
				color: #202020;
				text-decoration: none;
			}

				.navbar ul li a:hover {
					color: #cd3333;
					text-decoration: none;
				}

/* FOOTER */

#footer {
	display: block;
	position: relative;
	left: 0;
	bottom: 5em;
	width: 100%;
	margin: 0 auto;
	padding: 6em 0 5em 0;
	border-top: 4px #333 solid;
	font-family: 'Inconsolata';
	text-transform: uppercase;
	vertical-align: middle;
	text-align: center;
	z-index: 6;
}

#footer.alt {
	padding-top: 4em;
	border-top: 0px;
}

#footer .social {
	margin: 0;
	padding: 0;
}

#footer .social-icon {
	width: 4em;
	height: 2.1em;
	background: #333;
	color: #fff;
	display:inline-block;
	margin: 0 1em;
	transition-property:all .2s ease-out;
	-moz-transition:all .2s ease-out;
	-webkit-transition:all .2s ease-out;
	-o-transition:all .2s ease-out;
}

	#footer .social-icon:hover {
		background: #cd3333;
	}

	#footer .social-icon i {
		margin-top: 0.5em;
	}

@media screen and (max-width:48em) {
	
	#footer .social {
		color: #ffffff;
		font-size: 1.5em;
		padding: 1em 0;
	}
	
	#footer .social p {
		margin-top: 5em;
	}
	
	#footer .social-icon {
		width: 90%;
		height: 2em;
		background: #333;
		color: #fff;
		display:block;
		margin: 0.2em auto;
	}
	
}

#footer ul.links {
	width: 22em;
	margin: 0 auto 0.75em auto;
	font-weight: 700;
}

#footer ul.links li {
	display: inline-block;
	padding: 0 1em;
	color: #202020;
	font-size: 1em;
	text-align: center;
	text-align-last: center;
}

	#footer ul.links li a {
		color: #202020;
		text-decoration: none;
	}

		#footer ul.links li a:hover {
			color: #cd3333;
		}

#footer #mc_embed_signup {
	clear:left;
	width: 25.5em;
	margin: 1em auto;
	padding: 1em 0;
	font-family: 'Inconsolata';
	font-size: 1em;
}

	#footer #mc_embed_signup .map-layer {
		clear:left;
		position: fixed;
		bottom: 0;
		width: 25.5em;
		margin: 1em auto;
		padding: 1em 0;
		font-family: 'Inconsolata';
		font-size: 1em;
	}

	#footer #mc_embed_signup form {
		padding: 0em 0;
		text-align: center;
	}

#footer .mc-field-group {
	display: inline-block;
} /* positions input field horizontally */

#footer #mc_embed_signup input.email {
	box-sizing: border-box;
	display: inline-block;
	width: 18em;
	height: 2em;
	padding: 0 0.4em 0em;
	margin: 0;
	border: 0 solid #202020;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color: #f4f4f4;
	font-family: 'Inconsolata';
	font-size: 1em;
	font-weight: 300;
	text-transform: uppercase;
	color: #202020;
	vertical-align: top;
	text-align: left;
	text-align-last: left;
}

	.safari #footer #mc_embed_signup input.email {
		padding-top: 0.4em;
	}

#footer #mc_embed_signup label {
	display: block;
	padding-bottom: 1em;
	font-size: 1em;
	font-weight: bold;
}

#footer #mc_embed_signup .clear {
	display: inline-block;
} /* positions button horizontally in line with input */

#footer #mc_embed_signup .button {
	box-sizing:border-box;
	display: inline-block;
	height:2em;
	margin: 0;
	padding: 0 1.2em;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color: #f4f4f4;
	font-family: 'Inconsolata';
	font-weight: 300;
	font-size: 1em;
	text-transform: uppercase;
	color: #202020;
	transition: 0.2s ease-out;
	}

	#footer #mc_embed_signup input.button:hover {
		color: #202020;
		background-color: #e4e4e4;
		font-weight: 300;
	}

	#footer #mc_embed_signup .button:hover {
		background-color: #777;
		cursor: pointer;
		font-weight: 300;
	}

#footer #mc_embed_signup div#mce-responses {
	float: left;
	clear: both;
	top: -1.4em;
	width: 90%;
	margin: 0 5%;
	padding: 0em .5em 0em .5em;
	overflow: hidden;
}

#footer #mc_embed_signup div.response {
	float: left;
	top: -1.5em;
	width:80%;
	margin: 1em 0;
	padding: 1em .5em .5em 0;
	font-weight: bold;
	z-index: 1;
}

	#footer #mc_embed_signup #mce-error-response {
		display:none;
	}

	#footer #mc_embed_signup #mce-success-response {
		display:none;
		color: #529214;
	}

#footer #mc_embed_signup label.error {
	display: block;
	float: none;
	width: auto;
	margin-left: 1.05em;
	padding: .5em 0;
	text-align: left;
}

@media (max-width: 768px) {

	#footer #mc_embed_signup {
		position: relative;
		width: 90%;
	}
	
	#footer #mc_embed_signup .map-layer {
		width: 90%;
		margin: 0 auto;
	}

	#footer #mc_embed_signup input.email {
		width:80%;
		margin-bottom: 0 auto;
		padding: 0.3em;
		text-align: center;
		text-align-last: center;
	}

	#footer #mc_embed_signup .clear {
		display: block;
		width: 80%;
		margin: 0 auto;
		padding: 0.3em 0;
	}

	#footer #mc_embed_signup .button {
		width: 100%;
		margin:0 auto;
	}

}

/* MAP OVERLAY */

#map-logo {
	position: absolute;
	top: 1em;
	left: 3.5em;
	z-index: 100;
}

	@media (max-width: 768px) {
		
		#map-logo {
			display: none;
		}
		
}

#map-header {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 100;
}

#map-header .map-nav {
	position: relative;
	left: -50%;
}

#map-header ul {
		display: fixed;
		text-align: center;
		z-index: 10;
	}

	#map-header ul li {
		display: inline-block;
		font-family: 'Inconsolata';
		text-transform: uppercase;
		font-weight: 400;
	}

		#map-header ul li a {
			display: inline-block;
			padding: .72em 3em;
			transition-property: all .2s ease-out;
			-moz-transition: all .2s ease-out;
			-webkit-transition: all .2s ease-out;
			-o-transition: all .2s ease-out;
			font-size: 1em;
			color: #202020;
			text-decoration: none;
			border-top: 4px #ffffff solid;
		}

			#map-header ul li a:hover {
				text-decoration: none;
				border-top: 4px #202020 solid;
			}

		@media (max-width: 768px) {

			#map-header ul li.map-li {
				display: none;
			}

		}

#map-links {
	position: absolute;
	top: 0.7em;
	left: 5.1em;
	height: 2em;
	margin-left: 220px;
	padding: 0;
	font-family: 'Oswald';
	font-size: 0.9em;
	text-transform: uppercase;
	line-height: 1;
	z-index: 10;
}

#map-links ul {
	display: inline;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: visible;
}

	#map-links ul li {
		display: inline-block;
		margin: 0 -0.13em;
		padding: 0.5em;
		border-top: 2px rgba(0,0,0,.25) solid;
		border-bottom: 2px rgba(0,0,0,.25) solid;
		border-right: 2px rgba(0,0,0,.1) solid;
		background-color: #ffffff;
		text-align: center;
	}

#map-links ul li:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top: 2px rgba(0,0,0,.25) solid;
	border-left: 2px rgba(0,0,0,.25) solid;
	border-bottom: 2px rgba(0,0,0,.25) solid;
	border-right: 2px rgba(0,0,0,.1) solid;
}

#map-links ul li:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top: 2px rgba(0,0,0,.25) solid;
	border-right: 2px rgba(0,0,0,.25) solid;
	border-bottom: 2px rgba(0,0,0,.25) solid;
}

#map-links ul li:hover {
	background-color: #fafafa;
}

		#map-links ul li a {
			color: #202020;
			text-decoration: none;
		}

			#map-links ul li:hover a {
				color: #202020;
			}

#map-subscribe {
	z-index: 100;
}

/* FONT AWESOME */

ul.icons li {
	display: inline;
	padding: 0 0.2em;
}

	ul.icons li a { 
	color: #202020;
		text-decoration: none;
	}

		ul.icons li a:hover {
			color: #fff;
		}

ul.icons li.wide {
	padding: 0 4em;
}

ul.center {
	margin: 0 auto;
	text-align: center;
}

ul.margin-2 {
	margin: 2em auto;
}

ul.icons .white {
	color: #fff;
}

ul.icons .white:hover {
	color: #202020;
}

	.icon {
		position: relative;
		text-decoration: none;
		border-bottom: none;
	}

		.icon:before {
			padding: 0.25em;
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-size: 4em;
			font-style: normal;
			font-weight: normal;
		}

		.icon > .label {
			display: none;
		}

ul.small {
	font-size: 0.65em;
}

label {
	color: #fff;
	display: block;
	font-size: 0.9em;
	font-weight: 700;
	margin: 0 0 2em 0;
}

/* MAP STYLES */

.leaflet-popup-content-wrapper {
	margin: 0;
	padding: 0;
	border-radius: 0;
	max-width: 300;
	z-index: 100;
}

.leaflet-popup-content {
	margin: 0;
	padding: 1em;
	z-index: 100;
}

.leaflet-popup-content h3 {
	font-family: 'Inconsolata';
	font-size: 1.2em;
	text-transform: uppercase;
	color: #202020;
}

.leaflet-popup-content h3 a {
	color: #202020;
	font-weight: 700;
	text-decoration: none;
}

.leaflet-popup-content h3 a:hover {
	color: #cd3333;
}

.leaflet-popup-content p {
	font-family: 'Inconsolata';
	font-size: 1.2em;
	color: #202020;
}

/* BANNER */

#top {
	position: fixed;
	top: 0;
	left: 0;
	height: 2em;
	width: 100%;
	margin: 0 auto;
	padding: 0.75em 0.5 0 0.5;
	background-color: #cd3333;
	color: #ffffff;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 1em;
	text-align: center;
	z-index: 10;
	opacity: 0.85;
}

	#top a {
		color: #fff;
		text-decoration: none;
		border-bottom: 1px #fff solid;
	}

	#top-relative {
		position: relative;
		top: 0px;
		left: 0;
		height: 2.7em;
		width: 100%;
		margin: 0 auto;
		padding: 0.75em 0.5 0 0.5;
		background-color: #cd3333;
		color: #ffffff;
		font-family: 'Open Sans';
		font-weight: 300;
		font-size: 1em;
		text-align: center;
		vertical-align: middle;
		z-index: 10;
	}

		#top-relative p {
			padding: 0;
			margin: 0;
			height: 2.7em;
			line-height: 2.5em;
		}

		#top-relative a {
			color: #fff;
			text-decoration: none;
			border-bottom: 1px #fff solid;
		}

/* CONTENT */

#content {
	display: table;
	position: relative;
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	background: url('../../img/about/black-small-checks.png') repeat fixed;
	overflow: hidden;
	z-index: 2;
}

	#content .cell-box {
		display: table-cell;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		vertical-align: middle;
		text-align: center;
	}

.content-description {
	display: block;
	width: 40em;
	margin: 0 auto;
	text-align: center;
	text-align-last: center;
}

	.content-description p {
		margin: 0.5em auto;
		color: #fff;
		font-family: 'Oswald';
		font-weight: 300;
		font-size: 2em;
		text-transform: uppercase;
		line-height: 1.2;
		text-align: center;
		text-align-last: center;
		border-width: 0;
		z-index: 3;
	}

		.content-description p a {
			color: #fff;
			font-weight: 300;
			border-bottom: 3px #fff solid;
			text-decoration: none;
		}

			.content-description p a:hover {
				border-bottom-color: #CD3333;
			}

.content-links {
	display: block;
	width: 100%;
	margin: 0 auto;
	color: #fff;
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 4em;
	text-transform: uppercase;
	text-align: center;
	z-index: 3;
}
	.content-links h1 a {
			color: #fff;
			font-weight: 400;
			border-bottom: 4px #fff solid;
			text-decoration: none;
		}

			.content-links h1 a:hover {
				border-bottom-color: #CD3333;
			}

.video {
	position: fixed;
	top: 0; 
	left: 0;
	transform: translate (50%, -50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 1;
}

#one-space {
	height: 1em;
}

/* PAGE */

#page {
	position: relative;
	margin: 3em auto 3em auto;
	padding-top: 5em;
	-webkit-animation: fadein 0.75s;
	-moz-animation: fadein 0.75s;
	-ms-animation: fadein 0.75s;
	-o-animation: fadein 0.75s;
	animation: fadein 0.75s;
}

	@keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
	}

	@-moz-keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
	}

	@-webkit-keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
	}

	@-ms-keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
	}

	@-o-keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
	}

	#page h1 {
		position: relative;
		width: 100%;
		margin: 0 auto 0.5em auto;
		padding: 0;
		font-family: 'Oswald';
		font-weight: 400;
		font-size: 10em;
		text-transform: uppercase;
		letter-spacing: -0.02em;
		color: #202020;
		z-index: 3;
	}

		#page h1.left {
			text-align: left;
		}

		#page h1.center {
			text-align: center;
		}

		#page h1.outline {
			color: #202020;
			-webkit-text-fill-color: white;
			-webkit-text-stroke-width: 4px;
			-webkit-text-stroke-color: black;
		}

		#page h1.black {
			color: #202020;
		}

		#page h1.red {
			color: #cd3333;
		}

		#page h1.white {
			color: #ffffff;
		}

		#page h1.blue {
			color: #26466D;
		}

		#page h1.kick-green {
			color: #122906;
		}

	#page h2 {
		position: relative;
		font-family: 'Oswald';
		font-weight: 400;
		font-size: 4em;
		text-transform: uppercase;
		color: #202020;
		z-index: 3;
	}

	#page h2.sixty {
		width: 60%;
		margin: 0 auto;
	}

	#page h2.margin-1 {
		margin: 0em auto 1em auto;
	}

	#page h2.margin-05 {
		margin: 0em auto 0.5em auto;
	}

	#page h2.margin-top-15 {
		margin: 1.5em auto 0 auto;
	}

		#page h2.large {
			font-size: 7em;
		}

			#page h2.large a.black {
				color: #202020;
				border-bottom: 0px solid;
				text-decoration: none;
			}

				#page h2.large a.black:hover {
					border-bottom: 12px solid #202020;
				}

		#page h2.left {
			text-align: left;
		}

		#page h2.center {
			text-align: center;
		}

		#page h2.black {
			color: #202020;
		}

		#page h2.white {
			color: #ffffff;
		}

		#page h2.kick-green {
			color: #122906;
		}

		#page h2 a {
			padding-bottom: -12px;
			border-bottom: 0px solid;
			text-decoration: none;
		}

			#page h2 a:hover {
				border-bottom: 7px solid;
			}

			#page h2 a.white {
				color: #ffffff;
			}

				#page h2 a.white:hover {
					color: #ffffff;
					border-bottom: 7px solid #ffffff;
				}

			#page h2 a.black {
				color: #202020;
			}

				#page h2 a.black:hover {
					color: #202020;
					border-bottom-color: #202020;
				}

			#page h2 a.kick-green {
				color: #122906;
			}

				#page h2 a.kick-green:hover {
					color: #122906;
					border-bottom: 7px solid #122906;
				}

	#page h3 {
		position: relative;
		font-family: 'Oswald';
		font-weight: 400;
		font-size: 2em;
		text-transform: uppercase;
		color: #202020;
		z-index: 3;
	}

		#page h3.sixty {
			width: 60%;
		}

	#page h3.symbol {
		position: relative;
		height: 1em;
		margin: 0 0 0.15em 0;
		padding: 0 0 0 0;
		font-size: 7em;
		color: #202020;
		vertical-align: bottom;
		text-align: center;
		text-align-last: center;
		transition: 0.2s ease-out;
		z-index: 1;
	}

	#page p {
		position: relative;
		margin: 1em auto;
		width: 60%;
		font-family: 'Source Sans Pro';
		font-size: 1.2em;
		font-weight: 300;
		line-height: 1.2;
		color: #202020;
		text-align: justify;
		text-align-last: left;
		z-index: 3;
	}

#page p.ninety {
	width: 90%;
}

		#page p.margin-top-1 {
			margin-top: 1.4em;
		}

		#page p.margin-bottom-3 {
			margin: 0 auto 3em auto;
		}

		#page p.margin-bottom-4 {
			margin: 0 auto 4em auto;
		}

		#page p.margin-bottom-5 {
			margin: 0 auto 5em auto;
		}

		#page p.white {
			color: #ffffff;
		}

			#page p.white a {
				color: #ffffff;
				border-bottom: 1px #ffffff solid;
			}

			#page p.white a:hover {
				text-decoration: none;
			}

		#page p a {
			text-decoration: none;
			border-bottom: 1px solid;
		}

			#page p a:hover {
				border-bottom: 1px solid;
			}

			#page p a.black-white {
				color: #202020;
				border-bottom-color: #202020;
			}

				#page p a.black-white:hover {
					border-bottom-color: #ffffff;
				}

			#page p a.red-black {
				color: #202020;
				border-bottom-color: #cd3333;
			}

				#page p a.red-black:hover {
					border-bottom-color: #202020;
				}

			#page p a.blue-black {
				color: #202020;
				border-bottom-color: #26466D;
			}

				#page p a.blue-black:hover {
					border-bottom-color: #202020;
				}

	#page blockquote {
		width: 70%;
		margin: 2em auto;
	}

		#page blockquote.margin-5 {
			width: 70%;
			margin: 5em auto;
		}

		#page blockquote p {
			width: 100%;
			font-size: 1.5em;
			font-style: italic;
		}

			#page blockquote p.source {
				width: 100%;
				font-style: normal;
				text-align-last: right;
			}

	#page img.center {
		display: block;
		margin: 2em auto;
		text-align: center;
	}

	#page .raven-bg {
		position: fixed;
		width: 60%;
		height: 215px;
		left: -16%;
		background: url(../../img/about/raven-white-200-web.png) center no-repeat;
		text-align-last: center;
		z-index: 1;
	}

	#page .bg {
		margin-top: -4.4em;
	}

		#page .bg.five-deg {
			display: block;
			position: relative;
			width: 100%;
			-webkit-transform: skewY(-5deg);
			-moz-transform: skewY(-5deg);
			-ms-transform: skewY(-5deg);
			-o-transform: skewY(-5deg);
			transform: skewY(-5deg);
			z-index: 0;
		}

			#page .bg.five-deg > * {
				-webkit-transform: skewY(5deg);
				-moz-transform: skewY(5deg);
				-ms-transform: skewY(5deg);
				-o-transform: skewY(5deg);
				transform: skewY(5deg);
			}

		#page .bg.eight-deg {
			display: block;
			position: relative;
			width: 100%;
			-webkit-transform: skewY(-8deg);
			-moz-transform: skewY(-8deg);
			-ms-transform: skewY(-8deg);
			-o-transform: skewY(-8deg);
			transform: skewY(-8deg);
			z-index: 0;
		}

			#page .bg.eight-deg > * {
				-webkit-transform: skewY(8deg);
				-moz-transform: skewY(8deg);
				-ms-transform: skewY(8deg);
				-o-transform: skewY(8deg);
				transform: skewY(8deg);
			}

		#page .bg.team-deg {
			display: block;
			position: relative;
			height: 800px;
			width: 100%;
			margin-top: 6em;
			overflow: hidden;
			-webkit-transform: skewY(-3deg);
			-moz-transform: skewY(-3deg);
			-ms-transform: skewY(-3deg);
			-o-transform: skewY(-3deg);
			transform: skewY(-3deg);
			z-index: 0;
		}

			#page .bg.team-deg > * {
				-webkit-transform: skewY(3deg);
				-moz-transform: skewY(3deg);
				-ms-transform: skewY(3deg);
				-o-transform: skewY(3deg);
				transform: skewY(3deg);
			}

			#page .asad {
				display: block;
				position: relative;
				max-width: 1920px;
				max-height: 1280px;
				height: 880px;
				background-image: url(/img/team/IMG_0288-atrf-jcr-2000-web.jpg);
				background-size: cover;
				background-position: center;
				overflow: hidden;
				margin: 1em auto;
			}

		#page .bg.team-neg-deg {
			display: block;
			position: relative;
			height: 700px;
			width: 100%;
			margin-top: 8em;
			overflow: hidden;
			-webkit-transform: skewY(3deg);
			-moz-transform: skewY(3deg);
			-ms-transform: skewY(3deg);
			-o-transform: skewY(3deg);
			transform: skewY(3deg);
			z-index: 0;
		}

			#page .bg.team-neg-deg > * {
				-webkit-transform: skewY(-3deg);
				-moz-transform: skewY(-3deg);
				-ms-transform: skewY(-3deg);
				-o-transform: skewY(-3deg);
				transform: skewY(-3deg);
			}

			#page .jonathon {
				display: block;
				position: relative;
				max-width: 1920px;
				max-height: 1280px;
				height: 880px;
				background-image: url(/img/team/IMG_0292-atrf-jcr-2000-web.jpg);
				background-size: cover;
				background-position: center;
				overflow: hidden;
				margin: 1em auto;
			}

		#page .bg.red {
			background-color: #c33333;
		}

		#page .bg.white {
			background-color: #ffffff;
		}

		#page .bg.blue {
			background-color: #26466D;
		}

		#page .bg.light-blue {
			background-color: #617894;
		}

		#page .bg.kick-green {
			background-color: #2bde73;
		}

	#page .bg-content {
		margin: 0 auto 5em auto;
		padding: 6em 0 2.5em;
	}

		#page .bg-content p {
		}

#page .team-desc {
	position: relative;
	width: 100%;
	margin: -9em auto -1em auto;
	z-index: 3;
}

#page .gear-list {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	list-style: none;
	width:80%;
	margin: 0 auto;
	padding: 0;
}

	#page .gear-list li.gear {
		display: inline-block;
		height: auto;
		width: 50%;
		margin: 0 auto;
		padding: 1em;
		box-sizing:border-box;
		position: relative;
		text-align: left;
	}

#page ul.backers {
	width: 60%;
	margin: 1em auto;
	font-weight: 300;
	line-height: 1.4;
	text-align: justify;
	text-align-last: left;
}

#page ul.backers li {
	display: inline;
	transition: 0.2s ease-out;
}

#page ul.backers li:hover {
	color: #ffffff;
}

	#page ul.fa-ul {
		width: 80%;
		margin: 1em auto;
	}

#page ul.fa-ul.margin-bottom-4 {
	margin-bottom: 4em;
}

		#page ul.fa-ul li {
			width: 100%;
			padding-left: 0.75em;
			font-size: 1.08em;
			font-weight: 300;
			line-height: 1.4;
		}

			#page ul.fa-ul li a.black-white {
				color: #202020;
				text-decoration: none;
				border-bottom: 1px #202020 solid;
			}

				#page ul.fa-ul li a.black-white:hover {
					border-bottom-color: #fff;
				}

		#page ul.fa-ul li::before {
			position: absolute;
			left: 0;
			font-family: FontAwesome;
			content: "\f0da\00a0";
		}

#page ul.sixty {
	width: 60%;
}

	#page .gear-list li:hover h3.symbol {
		color: #fff;
	}

	#page .gear-list h3 {
		width: 100%;
		padding: 0;
		text-align: center;
	}

	#page .gear-list p {
		width: 80%;
		margin: 0 auto;
		padding: 0.5em 0;
		font-weight: 300;
		text-align: left;			
	}

#page ul.white {
	color: #fff;
}

#page ul.white a {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px #ffffff solid;
}

#page form.paypal-form {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#page .absolute-content {
	display: block;
	position: relative;
	height: 620px;
	margin-top: 0;
}

	#page .absolute-content.kick .kick-logo {
		position: absolute;
		margin: 0 0 0 8em;
		z-index: 3;
	}

	#page .absolute-content.kick .kick-video {
		display: inline;
		position: absolute;
		top: 3.5em;
		right: 10em;
		z-index: 1;
		border: 1px solid #ffffff;
	}

	#page .absolute-content.kick .kick-video:before {
		content: '';
		position: absolute;
		z-index: 5000;
		display: block;
		top: -27px;
		left: -27px;
		right: -27px;
		bottom: -27px;
		background-color: transparent;
		pointer-events: none;
		border: 30px solid #ffffff;
		border-radius: 50px;
	}

.left {
	display: inline-block;
	position: absolute;
	width: 45%;
	right: 51%;
	margin: 0 auto 6em;
	overflow: hidden;
}

.right {
	display: inline-block;
	position: absolute;
	width: 45%;
	left: 51%;
	margin: 0 auto 3em;
	overflow: hidden;
}

.hundred {
	position: relative;
	width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
	text-align: center;
}

.hundred-relative {
	width: 100%;
	margin: 0 auto 2em auto;
}

.sixty {
	width: 60%;
	margin: 0 auto;
}

	.sixty img {
		margin: 0.5em 1em 0.5em 0;
	}

	.sixty p {
		width: 100% !important;
	}

.ninety {
	position: relative;
	width: 90%;
	margin: 2em auto;
	vertical-align: middle;
	text-align: center;
}

	.ninety img {
		margin: 0;
		vertical-align: middle;
	}

/* PLUGINS */

#mc_embed_signup {
		clear:left;
		width:100%;
		padding: 2em 0 2em 0;
		font-family: 'Open Sans';
		font-size: 1em;
	}

	#mc_embed_signup form {
		padding: 1em 0;
		text-align: center;
	}

	.mc-field-group {
		display: inline-block;
	} /* positions input field horizontally */

	#mc_embed_signup input.email {
		box-sizing: border-box;
		display: inline-block;
		width: 25em;
		height: 2em;
		padding: 0px 0.4em;
		margin: 0;
		border: none;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		background-color: #fff;
		font-family: 'Open Sans';
		font-size: 1em;
		color: #343434;
		vertical-align: top;
		text-align: left;
		text-align-last: left;
	}

	#mc_embed_signup label {
		display: block;
		padding-bottom: 1em;
		font-size: 1em;
		font-weight: bold;
	}

	#mc_embed_signup .clear {
		display: inline-block;
	} /* positions button horizontally in line with input */

	#mc_embed_signup .button {
		box-sizing:border-box;
		display: inline-block;
		height:2em;
		margin: 0;
		padding: 0 1.2em;
		border: none;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		background-color: transparent;
		font-family: 'Open Sans';
		font-weight: 400;
		font-size: 1em;
		color: #ffffff;
		border: 3px solid #ffffff;
		transition: 0.2s ease-out;
	}

	#mc_embed_signup input.button:hover {
		background-color: #cd3333;
	}

	#mc_embed_signup .button:hover {
		background-color: #777;
		cursor: pointer;
	}

	#mc_embed_signup div#mce-responses {
		float: left;
		clear: both;
		top: -1.4em;
		width: 90%;
		margin: 0 5%;
		padding: 0em .5em 0em .5em;
		overflow: hidden;
	}

	#mc_embed_signup div.response {
		float: left;
		top: -1.5em;
		width:80%;
		margin: 1em 0;
		padding: 1em .5em .5em 0;
		font-weight: bold;
		z-index: 1;
	}

	#mc_embed_signup #mce-error-response {
		display:none;
	}

	#mc_embed_signup #mce-success-response {
		display:none;
		color: #529214;
	}

	#mc_embed_signup label.error {
		display: block;
		float: none;
		width: auto;
		margin-left: 1.05em;
		padding: .5em 0;
		text-align: left;
	}

	@media (max-width: 768px) {

		#mc_embed_signup input.email {
			width:80%;
			margin-bottom: 0 auto;
			padding: 0.3em;
			text-align: center;
		}

		#mc_embed_signup .clear {
			display: block;
			width: 80%;
			margin: 0 auto;
			padding: 0.3em;
		}

		#mc_embed_signup .button {
			width: 100%;
			margin:0 auto;
		}

	}

iframe.form {
	width: 100%;
	margin: 1em auto;
}