/* RESET */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
	pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
	small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
	label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, 
	embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, 
	mark, audio, video {
		margin: 0;
		padding: 0;
		vertical-align: baseline;
		border: 0;
		font-size: 100%;
		font: inherit;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
		-webkit-text-size-adjust: none;
	}

	ol, ul {
		list-style: none;
	}

/* BASIC */

	html,
	body {
		height: 100%;
	}

	::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}

	/* ::-webkit-scrollbar-thumb {
		background: #CD3333;
	} */

	body {
		font-family: "Open Sans";
	}

/* NAVIGATION */

	.navbar {
		top: 0;
		left: 0;
		height: 8.25em;
		width: 100%;
		margin: 0 auto;
		font-family: "Oswald";
		font-size: 1.2em;
		text-transform: uppercase;
		z-index:20;
	}

		.navbar ul {
			height: 100%;
			vertical-align: middle;
		}

			.navbar ul.navbar-nav {
				height: 2em;
			}

				ul.navbar-nav li.dropdown {
					line-height: 2em;
				}

				ul.navbar-nav .dropdown-toggle:after {
					display:none;
				}

				ul.navbar-nav li.dropdown:hover ul.dropdown-menu {
					display: block;
					margin: 0;
				}

				ul.dropdown-menu {
					background: transparent;
					border: none;
					margin: 0;
					padding: 0;
				}

					ul.dropdown-menu a.nav-link {
						width: 100%;
						margin: 0 0.6em;
						padding: 0;
						font-size: 1.2em;
						text-align: left;
					}

			.navbar ul.navbar-right {
				position: relative;
				left: -20%;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
			}

				.navbar ul.navbar-right li.dropdown:hover {
					border-top-left-radius: 5px;
					border-bottom-left-radius: 0px;
				}
				.navbar ul.navbar-right li.dropdown ul.dropdown-menu {
					height: 2.7em;
					border-top-left-radius: 0px;
					border-top-right-radius: 0px;
				}
				.navbar ul.navbar-right li.dropdown ul.light {
				}

				.navbar ul.navbar-right li.dropdown ul.light > li {
					margin: 0;
					padding: 0;
				}

			.navbar ul.navbar-left {
				position: relative;
				right: -20%;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}

				.navbar ul.navbar-left li.dropdown:hover {
					border-top-left-radius: 5px;
					border-bottom-left-radius: 0px;
				}
				.navbar ul.navbar-left li.dropdown ul.dropdown-menu {
					height: 7.5em;
					border-top-left-radius: 0px;
					border-top-right-radius: 0px;
				}
				.navbar ul.navbar-left li.dropdown ul.light {
				}

				.navbar ul.navbar-left li.dropdown ul.light > li {
					margin: 0;
					padding: 0;
				}

			ul.white-bg {
				height: 2em;
				padding-top: -100px;
			}

				ul.white-bg img {
					margin-top: -45px;
				}

			.navbar ul li {
				display: inline;
				padding: 0 1em;
				color: #e0e0e0;
				height: 100%;
			}

				.navbar ul li a {
					color: #202020;
					text-decoration: none;
				}

					.navbar ul li a:hover {
						color: #cd3333;
						text-decoration: none;
}

/* MAP OVERLAY */

#about-box {
	display: block;
	position: fixed;
	right: 1em;
	bottom: 2em;
	height: 2em;
	padding: 0.5em;
	background-color: #ffffff;
	border-radius: 5px;
	z-index: 100;
}

	#about-box p {
		font-family: 'Oswald';
		font-size: 1em;
		text-transform: uppercase;
	}

		#about-box p a {
			color: #202020;
			text-decoration: none;
		}

			#about-box p a:hover {
				color: #cd3333;
			}

/* FONT AWESOME */

	ul.icons li {
		display: inline;
		padding: 0 0.2em;
	}

		ul.icons li a { 
		color: #202020;
			text-decoration: none;
		}

			ul.icons li a:hover {
				color: #cd3333;
			}

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

label {
		color: #fff;
		display: block;
		font-size: 0.9em;
		font-weight: 700;
		margin: 0 0 1em 0;
	}

/* BANNER */

	#top {
		position: fixed;
		top: 0;
		left: 0;
		height: 2em;
		width: 100%;
		margin: 0 auto;
		padding: 0.75em 0.5 0 0.5;
		background-color: #cd3333;
		color: #ffffff;
		font-family: 'Open Sans';
		font-weight: 300;
		font-size: 1em;
		text-align: center;
		z-index: 10;
		opacity: 0.85;
	}

		#top a {
			color: #fff;
			text-decoration: none;
			border-bottom: 1px #fff solid;
		}

		#top-relative {
			position: relative;
			top: 0px;
			left: 0;
			height: 2.7em;
			width: 100%;
			margin: 0 auto;
			padding: 0.75em 0.5 0 0.5;
			background-color: #cd3333;
			color: #ffffff;
			font-family: 'Open Sans';
			font-weight: 300;
			font-size: 1em;
			text-align: center;
			vertical-align: middle;
			z-index: 10;
		}

			#top-relative p {
				padding: 0;
				margin: 0;
				height: 2.7em;
				line-height: 2.5em;
			}

			#top-relative a {
				color: #fff;
				text-decoration: none;
				border-bottom: 1px #fff solid;
			}

/* CONTENT */

	#content {
		display: table;
		position: relative;
		height: 100vh;
		width: 100%;
		margin: 0 auto;
		background: url('../../img/about/black-small-checks.png') repeat fixed;
		overflow: hidden;
		z-index: 2;
	}

		#content .cell-box {
			display: table-cell;
			height: 100%;
			width: 100%;
			margin: 0 auto;
			vertical-align: middle;
			text-align: center;
		}

	.content-heading {
		display: block;
		color: #ffff00;
		font-family: 'Archivo Black';
		font-size: 7em;
		text-transform: uppercase;
		line-height: 0.9em;
	}

		.content-heading a {
			text-decoration: none;
		}

	.content-description {
		display: block;
		width: 40em;
		margin: 0 auto;
		text-align: center;
	}

		.content-description p {
			margin: 0.5em auto;
			color: #fff;
			font-family: 'Oswald';
			font-weight: 300;
			font-size: 2em;
			text-transform: uppercase;
			line-height: 1.2em;
			text-align: center;
			border-width: 0;
			z-index: 3;
		}

			.content-description p a {
				color: #fff;
				font-weight: 300;
				border-bottom: 1px #fff solid;
				text-decoration: none;
			}

				.content-description p a:hover {
					border-bottom-color: #CD3333;
				}

	.content-links {
		display: block;
		width: 100%;
		margin: 0 auto;
		color: #fff;
		font-family: 'Oswald';
		font-weight: 300;
		font-size: 4em;
		text-transform: uppercase;
		text-align: center;
		z-index: 3;
	}
		.content-links h1 a {
				color: #fff;
				font-weight: 400;
				border-bottom: 4px #fff solid;
				text-decoration: none;
			}

				.content-links h1 a:hover {
					border-bottom-color: #CD3333;
				}

	.video {
		position: fixed;
		top: 0; 
		left: 0;
		transform: translate (50%, -50%);
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: 1;
	}

	#one-space {
		height: 1em;
	}

/* PAGE */

	#white {
		position: relative;
		margin: 0 auto 3em auto;
	}

		#white h1 {
			margin: 0.35em auto 1em auto;
			font-family: 'Oswald';
			font-weight: 400;
			font-size: 3.5em;
			text-transform: uppercase;
			text-align: center;
			color: #202020;
		}

		#white h2 {
			margin: 0.2em auto;
			font-family: 'Oswald';
			font-weight: 400;
			font-size: 1.5em;
			text-transform: uppercase;
			text-align: left;
			color: #202020;
		}

			#white h2 a {
				color: #202020;
				text-decoration: none;
			}

		#white p {
			margin: 0.8em auto;
			font-family: 'Source Sans Pro';
			font-size: 1em;
			font-weight: 300;
			line-height: 1.15em;
			color: #202020;
			text-align: justify;
			text-align-last: left;
		}

		#white p a {
			color: #202020;
			text-decoration: none;
			border-bottom: 1px #CD3333 solid;
		}

			#white p a:hover {
				border-bottom-color: #202020;
			}

	.left {
		display: inline-block;
		position: absolute;
		width: 45%;
		right: 51%;
		margin: 0 auto 6em;
		overflow: hidden;
	}

	.right {
		display: inline-block;
		position: absolute;
		width: 45%;
		left: 51%;
		margin: 0 auto 3em;
		overflow: hidden;
	}

	.hundred {
		width: 100%;
		margin: 0 auto;
		background-color: #000000;
	}

	.hundred-relative {
		width: 100%;
		margin: 0 auto 2em auto;
	}

	.fifty {
		width: 50%;
		margin: 0 auto;
	}

		.fifty img {
			margin: 0.5em 1em 0.5em 0;
		}

	.eighty {
		width: 80%;
		margin: 2em auto;
		vertical-align: middle;
		text-align: center;
	}

		.eighty img {
			margin: 1em 1.5em;
			vertical-align: middle;
		}